<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}  {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">
<header class="site-header">
    <p class="site-title">Miguel Boekhold</p>
</header>
<nav>
<section>
    <span class="links">
        <a href="{{ base_path }}/">Home</a>
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="mailto:miguel_boekhold@hotmail.com.com?Subject=mboekhold.com">Contact</a>
        <a href="{{ base_path }}/about">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>&copy; {{ current_year }} Miguel Boekhold</p>
<p>
    <a href="https://github.com/mboekhold" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/miguelboekhold/" target="_blank">LinkedIn</a>
</p>
</section>
</footer>

</body>
</html>
